@model ElectionAutomationSystem.Models.Vote

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteCount)
        </dd>

        <dt>
            BallotBoxNumber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BallotBox.BallotBoxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party.PartyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.PartyName)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-danger" type="button" data-dismiss="modal">Back</button>
</p>
