@model ElectionAutomationSystem.Models.Province

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Province</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProvinceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Election.ElectionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Election.ElectionTitle)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    }
</div>
