@model IEnumerable<ElectionAutomationSystem.Models.Province>

@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Election Automation System</a>
    </li>
    <li class="breadcrumb-item active">Regions / Provinces / Index</li>
</ol>
<p>
    <a class="navbar-brand" href="@(Url.Action("Create", "Provinces"))"><button type="button" class="btn btn-primary">Create New</button></a>
</p>

<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Provinces
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Province Name</th>
                        <th>Election Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProvinceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Election.ElectionTitle)
                            </td>
                            <td>
                                <a class="navbar-brand" href="@(Url.Action("Edit", "Provinces", new { id = item.ProvinceId }))"><button type="button" class="btn btn-info">Edit</button></a>
                                <a class="navbar-brand" href="@(Url.Action("Details", "Provinces", new { id = item.ProvinceId }))"><button type="button" class="btn btn-warning">Details</button></a>
                                <a class="navbar-brand" href="@(Url.Action("Delete", "Provinces", new { id = item.ProvinceId }))"><button type="button" class="btn btn-danger">Delete </button></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>