@model ElectionAutomationSystem.Models.BallotBox

@{
    ViewBag.Title = "Delete";
}
<div>
    <h4>BallotBox</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BallotBoxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BallotBoxNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoterCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoterCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neighbourhood.NeighbourhoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighbourhood.NeighbourhoodName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>
